<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591163416570-0qe6nl2oubk2atmsm1ub5opi2jhg3pj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591163416570-0qe6nl2oubk2atmsm1ub5opi2jhg3pj6</string>
	<key>API_KEY</key>
	<string>AIzaSyAWmdejYhlQCFg-EZ6dtn8zz4oJLAoUXbs</string>
	<key>GCM_SENDER_ID</key>
	<string>591163416570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecs189e.PupTinder</string>
	<key>PROJECT_ID</key>
	<string>puptinder</string>
	<key>STORAGE_BUCKET</key>
	<string>puptinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591163416570:ios:5c20e3ec14318d73e60e43</string>
	<key>DATABASE_URL</key>
	<string>https://puptinder.firebaseio.com</string>
</dict>
</plist>